/* src/fonts.css */
@font-face {
  font-family: 'BiloxiThin';
  src: url('./Fonts/BiloxiThin.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'BiloxiScript';
  src: url('./Fonts/BiloxiScript.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'GillSans-light';
  src: url('./Fonts/GillSans-Light.otf') format('otf');
  font-style: normal;
}
.Title{
   font-family: 'BiloxiScript';
   font-size: 142px;
   line-height: 142px;
   display: flex;
   justify-content: center;
   font-weight: 400;
   margin-top: 4%;
   margin-bottom: 2%;
}
.sub{
   font-family:'GillSans-light';
   text-transform: uppercase;
   font-weight: 300;
   font-size: 30px;
   line-height: 30px;
   margin-top: 0;
   display:flex;
   justify-content:center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center; 
  gap: 50px; 
  padding-left: 25%;
  padding-right: 25%;
}

.image {
  width: 280px; 
  height: 280px; 
  object-fit: cover; 
}

.image-container {
  position: relative; 
  display: inline-block; 
  overflow: hidden; /* Ensure the overlay doesn't overflow the container */
}

.overlay {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(255, 255, 255, 0.8); 
  opacity: 0; 
  transform: translate(-50%, -50%) scale(0); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.image-container:hover .overlay {
  opacity: 1; 
  transform: translate(-50%, -50%) scale(1); 
}
